// Colors
$darkCoffee: #1e150e;
$Coffee: #2d1f16;
$lightCoffee: #533328;
$lighterCoffee: #b96c5d;
$textColor: #ffffff;

// Font Sizes
$font-xs: 7px;
$font-sm: 10px;
$font-md: 16px;
$font-lg: 18px;
$font-xlg: 36px;

// height
$input-height: 1.875rem;
